# Fichiers générés par le code generation (Drift, build_runner)
**/*.g.dart
**/*.freezed.dart

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock

# IDE
.idea/
.vscode/
*.iml

# Base de données locale (dev)
*.sqlite
*.db

# Divers
.DS_Store
